<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiWANGAN"
        tools:targetApi="31" >
        <activity
            android:name=".Activity.GantiPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TambahProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Update.BannerUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Update.LayananUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Admin.Update.UmkmUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Create.BannerCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Create.LayananCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.Create.UmkmCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminUmkmActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminLayananActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminBannerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.DetailUmkmActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailLayananActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashLoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.introActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SiWANGAN" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>